*{

}

.button{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.button:pressed{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

#noiseButton{
  -fx-background-color: midnightblue;
  -fx-text-fill: lightgrey;
}

#noiseButton:pressed{
  -fx-background-color: midnightblue;
  -fx-text-fill: lightgrey;
}

#roomButtonGroup{
  -fx-background-color: transparent;
}


.textField{
  -fx-text-fill: white;
  -fx-background-color: transparent;
  -fx-effect: null;
  -fx-highlight-text-fill: black;
  -fx-animated: null;
}

#notificationText{
  -fx-alignment: center;
  -fx-text-fill: black;
  -fx-font-family: Bahnschrift;
  -fx-font-weight: bold;
}
.textFlow{
  -fx-alignment: center;
  -fx-text-fill: black;
  -fx-font-family: Bahnschrift;
  -fx-font-weight: bold;
}


