*{

}

.button{
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.button:pressed{
  -fx-background-color: transparent;
  -fx-boarder-color: lightgrey;
}

#noiseButton{
  -fx-background-color: rgb(15,26,59);
  -fx-background-image: url(bell.jpg);
  -fx-background-size: 100%;
  -fx-text-fill: lightgrey;
}

#noiseButton:hover{
  -fx-effect: innershadow(gaussian, lightsteelblue, 10, 0.5 , 2, 2);
}

#noiseButton:pressed{
  -fx-background-image: url(bellPressed.jpg);
  -fx-background-size: 100%;
  -fx-text-fill: lightgrey;
}

#roomButtonGroup{
  -fx-background-color: transparent;
}



.textField{
  -fx-text-fill: white;
  -fx-background-color: transparent;
  -fx-effect: null;
  -fx-highlight-text-fill: black;
  -fx-animated: null;
}

#notificationText{
  -fx-alignment: center;
  -fx-text-fill: black;
  -fx-font-family: Bahnschrift;
  -fx-font-weight: bold;
}
.textFlow{
  -fx-alignment: center;
  -fx-text-fill: black;
  -fx-font-family: Bahnschrift;
  -fx-font-weight: bold;
}


