*{
  -fx-font-family: serif;
  -fx-font-size: 15;
}


.anchorPane{
  -fx-alignment: center;
}

.button{
  -fx-background-color: midnightblue;
  -fx-text-fill: lightsteelblue;
}

.button:pressed{
  -fx-background-color: lightsteelblue;
  -fx-text-fill: midnightblue;
}

.button:hover{
  -fx-effect: innershadow(gaussian, lightsteelblue, 10, 0.5 , 2, 2);
}

.label{
  -fx-all: unset;
}