*{
  -fx-font-family: serif;
  -fx-font-size: 15;
}

#backGroundAnchorPane{
  -fx-background-image: url(logo.jpg);
  -fx-background-size: 100%;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

.anchorPane{
  -fx-alignment: center;
}

.button{
  -fx-background-color: midnightblue;
  -fx-text-fill: lightsteelblue;
}

.button:pressed{
  -fx-background-color: lightsteelblue;
  -fx-text-fill: midnightblue;
}

.button:hover{
  -fx-effect: innershadow(gaussian, lightsteelblue, 10, 0.5 , 2, 2);
}

.label{
  -fx-all: unset;
}