
#highScore{
  -fx-background-color: midnightblue;
}

#lobbyPrint{
  -fx-background-color: midnightblue;
}

#buttonPane{
  -fx-background-color: midnightblue;
  -fx-alignment: center;
}

.anchorPane{
  -fx-alignment: center;
}