
.scroll-pane{
  -fx-background-color: transparent;
}

#vBoxChatMessages{
  -fx-background-color: transparent;
}

.anchorPane{
  -fx-background-color: transparent;
}

.label{
  -fx-all: unset;
}


.button{
  -fx-background-color: midnightblue;
  -fx-text-fill: lightsteelblue;
}

.button:pressed{
  -fx-background-color: lightsteelblue;
  -fx-text-fill: midnightblue;
}

.button:hover{
  -fx-effect: innershadow(gaussian, lightsteelblue, 10, 0.5 , 2, 2);
}

